*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Lora', serif;
}

.margin-interno{
    padding: 0 50px;
}

a{
    text-decoration: none;
}

.padre{
    display: flex;
    flex-flow: column nowrap;
    background:#ffffff;
}

/*Encabezado*/
.header{
    display: flex;
    flex-flow: column nowrap;
}
    .menu{
        display: flex;
        flex-flow: row nowrap;
        height: 180px;
        align-items: center;
        padding: 50px;
    }
    .logo{
        flex: -1 1 auto;
        margin: 120px ;
    }
    .logo img{
        width: 150px;
        height: 150px;
    }
    .nombrepg{
        
        flex: 8 1 auto;
        margin: -90px;
    }
    .title{
        color: #000;
        font-size: 65px;
        font-family: 'Dancing Script', cursive;

    }
    .title2{
        color: #535353;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

/*Cajita de pedidos de whatsapp*/
.pedidos{        
    flex: 5 1 auto;
    display: flex;
}
    .caja {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #6c5a20;
        padding: 8px;
        border-radius: 5px;
        width: 280px;
        position: fixed;
    }
    .caja:hover {
        background-color: #6c5a20;
    }
    .enlace {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;
    }
    .icono {
        font-size: 24px;
        margin-right: 10px;
    }
    .aqui {
        font-size: 18px;
    }

/*Barra de menú*/     
.nav{
    background: #000000;
    height: 65px;
    text-align: center;
    text-justify: center;
    padding: 21px 0;
}
    .nav a{
        color: #ffffff;
        font-size: 15px;
        text-transform: uppercase;
        padding: 0 15px; 
        letter-spacing: 2px;
    }
        .nav a:hover{
            color: #CE4676	;
        }
        .icono-menu {
            font-size: 24px;
            cursor: pointer;
            color: white;
            display: none;
          }

/*Vista previa de mapa con dirrecion*/
.mapa{
    margin: 25px auto;
    width: 100%;
    max-width: 600px;
}

/*Targetas de informacion*/
.contacto{
    width: 100%;
    max-width: 1500px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:  35px auto;
}
    .targetacontacto{
        background:#ffffff;
        width: calc(85% - 60px); 
        max-width: 430px;
        height: 270px;
        border-radius: 20px;
        box-shadow: 0 0 10px 0 #000000;
        overflow: hidden;
        margin: 20px 15px;
        text-align: left;
        transition: all 0.25s;
    }
    .targetacontacto:hover{
        transform: translateY(-15px);
        box-shadow: 0 0 10px 0 #000000;
    }
    .targetacontacto h4{
        font-size: 15px;
        font-weight:  bold;  
        margin: 40px auto;
        text-align: center;
        text-transform: uppercase;
        color: #6c5a20;
    }
    .targetacontacto p{
        padding: 0 3rem; 
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }
    button{
        background:#6c5a20;
        display: block;
        width: 100px;
        height: 40px;
        border:none;
        color:rgb(255, 255, 255); 
        border-radius: 4px;
        font-size: 16px;
        margin: 30px auto;
        cursor: pointer;
    }

/*Pie de pagina*/
.footer{
    background: #000;
    display: flex;
    justify-content: center;
    height: 50px;
}
    .pie{
        text-align: center;
    }
    .pie p{
        color: #fff;
        font-size: 11px;
        text-transform: uppercase;
        padding: 0 10px;
        letter-spacing: 2px;
        margin: 18px 0 0 0 ;
    }

@media all and (min-width: 100px) and (max-width: 1200px) {
    .menu {
        flex-flow: column nowrap;
        height: auto;
        padding: 2% 5%;
    }
        .logo {
            margin: 2% 0;
        }
        .nombrepg {
            margin: 0;
        }
        .title {
            font-size: 6vw;
        }
        .title2 {
            font-size: 2vw;
        }

    .caja {
        width: 80px;
        top: 10px;
        right: 10px; 
    }
        .enlace .aqui {
            display: none;
        }
        .icono {
            margin-right: 0;
            font-size: 20px;
        }
}

@media all and (min-width: 100px) and (max-width: 650px) {
    .icono-menu {
        display: block;
    }
        .opciones {
          display: none;
          flex-direction: column;
          position: absolute;
          top: 295px;
          left: 0;
          width: 100%;
          background: #000000;
        }
        .opciones.show {
          display: flex;
        }
        .nav a {
          padding: 10px 15px;
        }
}
    